body {
    background-color:#f5f5dc;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Nunito','Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Nunito', sans-serif;
    color: #33333;
    font-weight:light;
}
h2 {
    font-family:'Nunito','Helvetica', 'Arial', 'Sans-Serif';
    color: #333333;
}
h3 {
    font-family:'Nunito','Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}

h4{
    font-family:'Nunito';
    color: #333;
    display:inline;
}
p {
    font-family: 'Nunito';
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}


ul {
    font-family: 'Nunito';
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

figure {
  float: right;
  width: 35%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

figcaption {
  font-family: 'Nunito';
}

<!-- Border 

#top, #bottom, #left, #right {
	background: #fffffe;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }


========================================
Floats for CV Experience
========================================
*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
  padding-bottom: 5em;
}
position {
  float: left;
  margin: 0 1.5%;
  width: 30%;
  font-family:'Nunito','Sans-Serif';
  color: #333;
  padding-top:1em;
}
position_details {
  float: right;
  margin: 0 1.5%;
  width: 60%;
  font-family:'Nunito','Sans-Serif';
}


========================================
Floats for CV Experience
========================================
*/
.group_two:before,
.group_two:after {
  content: "";
  display: table;
}
.group_two:after {
  clear: both;
}
.group_two {
  clear: both;
  *zoom: 1;
  padding-bottom: 5em;
}
date_place{
  float: left;
  margin: 0 1.5%;
  width: 20%;
  font-family:'Nunito','Sans-Serif';
  color: #333;
}
place_details{
  float: right;
  margin: 0 1.5%;
  width: 70%;
  font-family:'Nunito','Sans-Serif';
}

=====================================
Publications Explanation
====================================
.pub_explan {
   width:400px;
   padding:20px;
   overflow:hidden;
   text-align: justify;
   text-justify: inter-word;
}

.pub_explan img {
   margin-left:15px;
   float:left;
   width: 300px;
   height:228px;
   padding-left:1em;
   padding-right:1em;

}


